.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  flex-direction: column;
  gap: 14px;
  a {
    background-color: #121212;
    color: #fff;
    padding: 14px;
    border-radius: 8px;
    transition: all 0.3s;
  }
  a:hover {
    transform: scale(1.05);
  }
}
